# Binary
traefik-lazyload
__debug_bin*

# Various testing/compose files
*compose.yml
!docker-compose.yml

# Node.js dependencies (for semantic-release)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log