name: golangci-lint
on:
  push:
    branches:
      - main
      - master
  pull_request:
  workflow_call:

permissions:
  contents: read
  # Allow read access to pull requests for better integration
  pull-requests: read

jobs:
  lint:
    name: lint
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: '1.24'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: latest
          # Show only new issues if it's a pull request
          only-new-issues: true
      - uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: Dockerfile
